h1{
    font-family:Georgia, 'Times New Roman', Times, serif;
}
img{
    width: 35px;
}

button{
    background-color: rgb(24, 23, 23);
    color: rgb(45, 45, 238);
}

button:hover{
    background-color: rgb(92, 92, 206);
    color: white;
    
}
div{
    padding: 60px;
}