h2{
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.card-container.card {
    max-width: 400px;
    padding: 30px 40px;
    /* border-radius: 10px;    */
   
}

.card {
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 50px;
    /* box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3); */
}

label{
    font-size: 18px;
}

h2{
    text-align: center;
}
  
button{
    width:100%;
}


p{
    float: right;
}